Django
MySQL-python
psycopg2
Pillow
colour
django-extensions
django-filter
django-fixture-magic
django-otp
django-secure
django-sslify
djangorestframework
lettuce
nose
pycrypto
python-magic
requests
python-Levenshtein
ipython
mock
