Django
MySQL-python
Pillow
colour
django-extensions
django-filter
django-fixture-magic
django-oauth2-provider
django-otp
django-secure
django-sslify
django-two-factor-auth
djangorestframework
lettuce
nose
pycrypto
python-magic
requests
python-Levenshtein
ipython
