BeautifulSoup
Clockwork
MySQL-python
Pillow
colour
django-extensions
django-filter
django-fixture-magic
django-oauth2-provider
django-otp
django-secure
django-sslify
django-two-factor-auth
lettuce
nose
numpy
psycopg2
pycrypto
python-magic
requests
simplejson
splinter
xhtml2pdf
python-Levenshtein
